.fd_transverseLine {
    position: absolute;
    height: 2px;
    background: #a0c0e4;
    display: block;
}

.fd_verticalLine {
    display: block;
    position: absolute;
    width: 2px;
    background: #86afde;
}

.fd_panel {
    border: 2px solid red;
    position: absolute;
    top: 50%;
    left: 50%;

}

.fd_person {
    display: block;
    position: absolute;
    background: #16a4bc;
}
