<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="sysLogFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>D:/logs/downmaven/downmaven.log</File>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                D:/logs/downmaven/downmaven.log.%d{yyyy-MM-dd}
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-dd-MM HH:mm:ss.SSS} [%thread] %logger{5} %-5level - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>
                %d{yyyy-dd-MM HH:mm:ss.SSS} [%thread] %logger{5} %-5level - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="sysLogFile" />
        <appender-ref ref="stdout" />
    </root>

</configuration>